.callout[data-callout="ai-summary"] {
    --callout-color: 124, 164, 152;
    --callout-icon: lucide-sparkles;
}

.instruct_input textarea{
    resize: vertical;
    width: 350px;
    min-height: 70px;
}

.api_key_input input{
    width: 450px;
}